.defaultLoader {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.defaultLoader>img {
    margin-top: 7rem;
}

.bottomLoaderText {
    position: absolute;
    height: 4rem;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

.bottomLoaderText>p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #0A66C2;
}